# Add a dot to the start of a dir to ignore it
.*/

# If a binary somehow gets in here, ignore it
*.lib
*.exe

# Visual Studio metadata that nobody else cares about
*.vcxproj*
*.sln
.vs/*

# Mac meta files
*.DS_Store
